{
    "parser": "babel-eslint",
    "root": true,
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "babel",
        "react-hooks",
        "prettier",
        "testing-library"
    ],
    "extends": [
        "plugin:prettier/recommended",
        "plugin:testing-library/react",
        "plugin:react-hooks/recommended"
    ],
    "env": {
        "node": true,
        "browser": true,
        "jest": true,
        "es2020": true
    },
    "settings": {
        "polyfills": [
            "fetch"
        ]
    },
    "rules": {
        "prettier/prettier": "error",
        "quotes": [
            "error",
            "backtick",
            "avoid-escape"
        ],
        "comma-dangle": [
            "error",
            {
                "arrays": "always-multiline",
                "objects": "always-multiline",
                "imports": "always-multiline",
                "exports": "always-multiline",
                "functions": "ignore"
            }
        ],
        "testing-library/await-async-query": "error",
        "testing-library/no-await-sync-query": "error",
        "testing-library/no-debug": "warn",
        "jsx-a11y/alt-text": "off",
        "jsx-a11y/label-has-for": "off",
        "jsx-a11y/click-events-have-key-events": "off",
        "jsx-a11y/no-static-element-interactions": "off",
    }
}